.about{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    padding-left: 60px;
    margin-top: 5%;
}
.about2{
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    padding-left: 600px;
    margin-top: 5%;
}
.about1 h2{
    font-size: x-large;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(94, 15, 15);
    padding-left: 200px;
}
.about1{
    font-size: medium;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 65, 65);
    padding-left: 50px;
    padding-right: 10px;

}
.about1 p{
font-size: 20px;
font-weight: 400;
font-family: 'Times New Roman', Times, serif;
padding-top: 30px;
padding-right: 50px;
}
.about1 img{
    float: left;
    width: 400px;
    height: 400px;
    border-radius: 100px 100px 100px 100px;
    padding-right: 40px;
}
