 .logo{
    width: 200px;
    height: 50px;
    padding-top: 0%;
    padding-top: 5px;
    border-radius: 5px;
    
} 
.navigation{
    margin-top: 0%;
    background-color: rgb(90, 13, 73);
     height: 50px;
     margin-left: 10px;
     margin-right: 10px;
     padding-left: 580px;
     padding-top: 15px;
     margin-bottom: 0%;
}
.navigation a{
    margin-left: 80px; 
    padding-top: 10px;
    font-size: x-large;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fcfcfc;
}
.navigation a:hover{
    margin-left: 80px;
    padding-top: 10px;
    font-size: x-large;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a2f083;
}